@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$formInput:   rgb(226, 235, 254);
$background: rgb(233, 233, 233);
$header: rgb(25, 49, 77);
$resultsBackground: rgb(242, 242, 242);
$borders: rgb(206, 206, 206);
$notQuiteWhite: whitesmoke;
$font: monospace;


@mixin border {
  border: 1px solid $borders;
}

@mixin btnProperties {
    display: block;
    font-size: 12px;
    font-family: $font;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.6vh 1.4vh .5em .8em;
    box-sizing: border-box;
    margin: 2% 0 2% 0;
    border: $borders;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    appearance: none;
}

@mixin centerThings{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin gradientBackground {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}


html {
  background-color: $notQuiteWhite;
}

.url-entry, .body-entry, .header-entry {
    font-size: 2vw;
    font-family: $font;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.body-entry, .header-entry {
    margin: 0 0 3% 0;
}

 input, textarea {
  width: 70%;
  height: auto;
  clear: both;
  background-color:$formInput;
  @include centerThings();
  @include border;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-left: 2%;
  margin-left: 2%;
 }

.select-css {
    @include btnProperties();
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    @include gradientBackground()
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(83, 83, 83, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

.select-css option {
    font-weight:normal;
    font-family: $font;
}

.go {
    @include gradientBackground();
    @include btnProperties();
    width: 20%;
    max-width: 300px;
}

input[type="text"]
{
    font-family: $font;
}