$font: monospace;
$borders: rgb(206, 206, 206);

@mixin font {
    font-size: 2vw;
    font-family: $font;
    display: flex;
    flex-direction: row;
    align-items: center;
    }

@mixin gradientBackground {
    background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

@mixin btnProperties {
    display: block;
    font-size: 12px;
    font-family: $font;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.6vh 1.4vh .5em .8em;
    box-sizing: border-box;
    margin: 2% 0 2% 0;
    border: $borders;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    appearance: none;
}

.history-wrapper {
    @include font();
    @include btnProperties();
    @include gradientBackground;
    
}